<div style="width: 100%; clear: both;">
    <div style="float: left; width: 50%;">
       <img src="https://www.uoc.edu/portal/system/modules/edu.uoc.presentations/resources/img/branding/logo-uoc-default.png", align="left">
    </div>
</div>

<div style="float: right; width: 50%;">
    <p style="margin: 0; padding-top: 22px; text-align:right;">22.403 · Programació per a la ciència de dades</p>
    <p style="margin: 0; text-align:right;">Grau en Ciència de Dades Aplicada</p>
    <p style="margin: 0; text-align:right; padding-button: 100px;">Estudis d'Informàtica, Multimèdia i Telecomunicació</p>
</div>

</div>
<div style="width: 100%; clear: both;">
<div style="width:100%;">&nbsp;</div>

Programació per a la ciència de dades - PAC1
============================

En aquest Notebook trobareu un conjunt d'exercicis que conformen la primera activitat d'avaluació contínua (PAC) de l'assignatura.

Per a cada exercici, tingueu en compte que:

* **És necessari incloure comentaris** del vostre codi, que expliquin com heu implementat la solució del problema plantejat.
* **És imprescindible** citar les referències consultades per realitzar l'activitat. Es valorarà que el codi proporcionat solucioni el problema proposat i també la qualitat del codi (comentaris, llegibilitat, claredat, ús de les estructures de dades adequades, bona nomenclatura de les variables i funcions, seguiment del PEP8, etc.).

Veureu que cadascuna de les activitats té associada una puntuació, que indica el pes que té l'activitat sobre la nota de la PAC.

A més, totes les activitats tenen una etiqueta, que indica els recursos necessaris per dur-la a terme. Hi ha tres possibles etiquetes:

* <span style="font-family: Courier New; background-color: #82b74b; color: #000000; padding: 3px;">SM</span> **Només materials**: les eines necessàries per realitzar l'activitat es poden trobar en els materials de l'assignatura (considerarem també els materials de l'assignatura Fonaments de Programació, així com les lectures obligatòries de material extern que s'indiquen en els notebooks).
* <span style="font-family: Courier New; background-color: #ffcc5c; color: #000000; padding: 3px;">EG</span> **Consulta externa guiada**: l'activitat pot requerir fer ús d'eines que no es troben en els materials de l'assignatura, però l'enunciat conté indicacions d'on o com trobar la informació addicional necessària per resoldre l'activitat.
* <span style="font-family: Courier New; background-color: #f2ae72; color: #000000; padding: 3px;">EI</span> **Consulta externa independent**: l'activitat pot requerir fer ús d'eines que no es troben en els materials de l'assignatura, i l'enunciat pot no incloure la descripció d'on o com trobar aquesta informació addicional. Serà necessari que l'estudiant busqui aquesta informació utilitzant els recursos que s'han explicat en l'assignatura.

És important notar que aquestes etiquetes no indiquen el nivell de dificultat de l'exercici, sinó únicament la necessitat de consulta de documentació externa per a la seva resolució. A més, recordeu que les **etiquetes són informatives**, però podeu consultar referències externes sempre que ho desitgeu (encara que no s'indiqui explícitament) o potser podreu realitzar una activitat sense consultar cap tipus de documentació. Per exemple, per resoldre una activitat que només requereixi els materials de l'assignatura, podeu consultar referències externes si ho desitgeu, ja sigui tant per ajudar en la resolució com per ampliar coneixements.



---

## Abans de començar

Llegiu atentament els paràgrafs que segueixen, relacionats amb l'originalitat en les activitats, abans de començar a treballar en la PAC. Si us sorgeix qualsevol dubte dirigiu-vos al professor col·laborador de l'assignatura abans de continuar amb l'activitat.

<div class="alert alert-block alert-success"> La manca d'originalitat es produeix quan en una activitat apareix contingut que no ha estat elaborat de forma individual per l'estudiant i no es referencia adequadament el seu origen. O bé quan, encara que el contingut extern estigui referenciat, aquest és tan extens que no és possible considerar l'estudiant l'autor o autora de l'activitat. <br /><br /> Així, alguns exemples de comportaments inadequats degut a manca d'originalitat són: <ol> <li>Crear la solució d'un exercici de la PAC en col·laboració entre diversos estudiants.</li> <li>Incloure un exercici de la PAC que utilitza codi trobat a internet sense citar la font.</li> <li>Compartir la vostra solució de la PAC amb altres estudiants de l'assignatura.</li> </ol> </div>

## Instruccions de lliurament

Per procedir a l'entrega de l'activitat és necessari realitzar els següents passos:

1. Comproveu que el notebook s'executa correctament en Google Colaboratory. És important que abans d'entregar la vostra PAC us assegureu que la versió final del codi s'executa correctament en la seva totalitat. Per a això, es recomana fer una execució completa des de zero del notebook fent clic a <i>"Entorn d'execució i executar totes"</i>, i comprovant que totes les cel·les del notebook s'executen correctament.

2. Confirmeu que sou els autors únics de la PAC i que aquesta inclou totes les cites a recursos externs que s'hagin utilitzat per elaborar-la. Amb la finalitat de confirmar que sou els autors únics de l'activitat, afegiu el vostre nom complet a la cel·la següent.

3. Entregueu el notebook corresponent a la resolució de la PAC a través del Registre d'Avaluació Contínua de l'aula. Podeu descarregar el notebook mitjançant <i>"Arxiu, descarregar i descarregar .ipynb"</i>

<div class="alert alert-block alert-warning">Jo, **Robert Buj Gelonch**, confirmo que he elaborat de forma individual totes les activitats resoltes en aquesta PAC i que he inclòs les cites a totes les fonts externes que he utilitzat per resoldre les activitats. </div>


## Type hints

Us recomanem resoldre aquesta PAC utilitzant type hints. Podem entendre els type hints de Python com una solució formal per indicar estèticament el tipus de valor dins del codi Python. Us recomanem la visualització del següent [vídeo](https://www.youtube.com/watch?v=j0dy8Q9VIPk) per a una introducció als type hints en Python, i per entendre per què són interessants.

## Enunciat
Els següents exercicis es realitzaran utilitzant el dataset people.csv proporcionat juntament amb la PAC. Cada fila representa informació d'una persona.

Els camps del dataset són els següents:

- User Id: Codi de la persona.
- First Name: Nom de la persona.
- Last Name: Cognom de la persona.
- Sex: Sexe de la persona (Male o Female).
- Email: Email de la persona.
- Phone: Número de telèfon de la persona.
- Date of birth: Data de naixement de la persona (YYYY-MM-DD)
- Job Title: Professió de la persona.


**IMPORTANT:** La càrrega del dataset s'ha de fer utilitzant rutes relatives, heu de carregar el fitxer tenint en compte que el vostre notebook es troba en una carpeta que conté la carpeta data/ i l'arxiu de dades corresponent.


Només heu de carregar el fitxer una sola vegada en el primer exercici.

## Exercici 1

Carregueu el dataset `people.csv` de manera que obtingueu un objecte de tipus `DataFrame`.

Una vegada carregat el dataset, resol les següents qüestions:

1. Visualitza els primers 42 registres.  
2. Converteix la columna `Date of birth` al format Dia/Mes/Any (`dd/mm/aaaa`).  
3. Mostra quantes professions úniques hi ha.  
4. Visualitza el títol de feina (`Job title`) més comuna.  
5. Mostra quantes persones tenen el nom Paul.  
6. Mostra el nombre de persones nascudes al gener.  

**Pista 1:** Recordeu que podeu utilitzar llibreries com `pandas` per carregar el conjunt de dades de manera senzilla i obtenir un `DataFrame`.  

**Pista 2:** El *type hint* d'un `DataFrame` és `pd.DataFrame`.  

**Tots els exercicis s'han de resoldre a partir del `DataFrame` obtingut en finalitzar aquest exercici i no carregar-lo cada vegada que s'hagi d'utilitzar.**  

<span style="font-family: Courier New; background-color: #82b74b; color: #000000; padding: 3px;">SM</span> **(2 punts)**

<div style="background-color: #fcf2f2; border-color: #dfb5b4; border-left: 5px solid #dfb5b4; padding: 0.5em;">
<strong>Solució</strong>
</div>

In [1]:
import os

if os.getenv("COLAB_RELEASE_TAG"):
    # munta la unitat de google drive i accedeix a la carpeta de l'activitat
    from google.colab import drive
    drive.mount('/content/drive')
    %cd "/content/drive/MyDrive/Colab Notebooks/Activity_1"
    # instal·la les dependencies
    %pip install pycodestyle flake8 pycodestyle_magic

In [2]:
%load_ext pycodestyle_magic
%pycodestyle_on

In [3]:
# carregar el fitxer CSV
import pandas as pd
import chardet

# llegeix el fitxer CSV en mode binari
with open('data/people.csv', 'rb') as f:
    data = f.read()

# detecta la codificació mitjançant la biblioteca chardet
encoding_result = chardet.detect(data)

# recupera la importació de la codificació
encoding = encoding_result['encoding']

# obté el dataframe després de llegir el fitxer CSV amb pandas
df = pd.read_csv('data/people.csv', sep=",", encoding=encoding)

# mostra la informació del dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Index          10000 non-null  int64
 1   User Id        10000 non-null  object
 2   First Name     10000 non-null  object
 3   Last Name      10000 non-null  object
 4   Sex            10000 non-null  object
 5   Email          10000 non-null  object
 6   Phone          10000 non-null  object
 7   Date of birth  10000 non-null  object
 8   Job Title      10000 non-null  object
dtypes: int64(1), object(8)
memory usage: 703.3+ KB

In [4]:
# 1.1 visualitza els primers 42 registres
df.head(42)

,Index,User Id,First Name,Last Name,Sex,Email,Phone,Date of birth,Job Title
0,1,5f10e9D33fC5f2b,Sara,Mcguire,Female,tsharp@example.net,(971)643-6089x9160,1921-08-17,"Editor, commissioning"
1,2,751cD1cbF77e005,Alisha,Hebert,Male,vincentgarrett@example.net,+1-114-355-1841x78347,1969-06-28,Broadcast engineer
2,3,DcEFDB2D2e62bF9,Gwendolyn,Sheppard,Male,mercadojonathan@example.com,9017807728,1915-09-25,Industrial buyer
3,4,C88661E02EEDA9e,Kristine,Mccann,Female,lindsay55@example.com,+1-607-333-9911x59088,1978-07-27,Multimedia specialist
4,5,fafF1aBDebaB2a6,Bobby,Pittman,Female,blevinsmorgan@example.com,3739847538,1989-11-17,Planning and development surveyor
5,6,BdDb6C8Af309202,Calvin,Ramsey,Female,loretta85@example.com,001-314-829-5014x1792,2017-08-31,Therapeutic radiographer
6,7,FCdfFf08196f633,Collin,Allison,Male,yvaughn@example.net,(314)591-7413,1979-11-21,Administrator
7,8,356279dAa0F7CbD,Nicholas,Branch,Male,greerjimmy@example.net,+1-667-666-5867,2006-01-21,Fisheries officer
8,9,F563CcbFBfEcf5a,Emma,Robinson,Female,charleshiggins@example.org,166-234-6882x7457,2009-03-19,Haematologist
9,10,f2dceFc00F62542,Pedro,Cordova,Male,leslie08@example.com,(389)824-3204x8287,2008-06-17,Phytotherapist
10,11,FEf0Cc496EB4bC0,Jean,Aguilar,Male,raymond24@example.org,(285)029-1604x5466,1978-10-28,"Engineer, control and instrumentation"
11,12,Af087410aB0c186,Dwayne,Hutchinson,Female,preston28@example.net,(233)811-1749x417,1914-06-22,"Teacher, early years/pre"
12,13,057EE455E68fe9E,Bradley,Velazquez,Male,joycejay@example.net,(831)049-2030,1906-12-23,Airline pilot
13,14,BEA2b99B1efBFAA,Samantha,Moon,Male,wesleymullins@example.net,7788378816,1978-06-21,Intelligence analyst
14,15,33730caFF13Ff4F,Clayton,Erickson,Male,nterry@example.net,990-374-0521x33156,1959-02-07,Paediatric nurse
15,16,Fec6b46586ad5ab,Bradley,Bright,Female,devinherman@example.net,2534420151,1992-01-27,Fitness centre manager
16,17,d8CF9ED8c6E5b0b,Ernest,Maynard,Male,tommywoodard@example.com,355-863-2311x6315,2017-11-23,"Accountant, chartered certified"
17,18,b82C14f184d0cf6,Joe,Larsen,Female,brianna43@example.org,(566)667-8566x109,2009-06-18,Geographical information systems officer
18,19,F8E52fAaA87Cb2D,Alfred,Barrera,Female,kristina40@example.net,4735530004,1924-11-13,"Administrator, charities/voluntary organisations"
19,20,aaB0b03cFED1CeE,Jon,Wagner,Female,meagan99@example.org,001-940-671-0693x345,1934-01-06,"Engineer, aeronautical"
20,21,dFB1FaeB5915Dee,Glen,Calderon,Male,randystephenson@example.net,4890361487,1944-09-16,"Research officer, government"
21,22,983Dd56BB6Bbddb,Marco,Sharp,Male,cmcclure@example.net,074-415-1149,1944-04-09,Retail buyer
22,23,Ccee761Bfb157db,Jermaine,Liu,Male,tristanpatterson@example.net,001-887-131-9735x6172,1913-09-20,Health promotion specialist
23,24,F0e6bBAfFAeE76E,Cindy,Haynes,Female,sonyamoyer@example.net,+1-166-565-3614x575,2020-12-17,"Scientist, physiological"
24,25,f628DfBb03CBD1F,Meghan,Blanchard,Male,smejia@example.org,+1-188-201-3028x13440,1927-08-24,Occupational therapist
25,26,39Aded2dba9D2dA,Julie,Delacruz,Male,jillian34@example.net,903.237.1120x705,1941-04-10,Television production assistant
26,27,ab6F7E1f5F3f4cb,Jackie,Munoz,Male,villarrealgilbert@example.org,+1-460-150-7613,1969-08-04,"Development worker, community"
27,28,Bbe2B2Dcf652e55,Maureen,Vasquez,Female,chogan@example.com,645.665.5931,1995-04-26,"Journalist, magazine"
28,29,CBCb48f7602b113,Theresa,Riddle,Male,jasminlowe@example.org,(672)634-3364,1929-09-27,Therapeutic radiographer
29,30,AAF6e4Cec5f1dEe,Jenny,Wiley,Female,youngbrandon@example.net,507-684-0331,2004-10-07,"Surveyor, building control"
30,31,943DafaDB3cBb8f,Kirsten,Bailey,Female,donaldsonomar@example.org,719.072.3811x9483,1922-01-26,"Engineer, aeronautical"
31,32,d82e9C3dE3bca25,Melody,Wiggins,Male,mackrachael@example.net,138-424-2414x284,1938-05-08,Fitness centre manager
32,33,FC8993D4eea0fbF,Ruth,Bolton,Female,newtonbridget@example.net,625-325-5178,1928-03-20,Air cabin crew
33,34,6Fc6eD447FD79f2,Jacqueline,Frederick,Male,collin32@example.com,001-258-289-4822x430,2010-10-04,Animal nutritionist
34,35,0F0cb8FD3a9D664,Theresa,Gilmore,Female,gmerritt@example.net,167.275.8072x1394,2019-08-26,Broadcast journalist
35,36,Cd78a54fdD9Cd09,Stanley,Underwood,Female,ravenbecker@example.com,001-718-046-2819x96662,1931-09-26,Web designer
36,37,a1a3C9bAba7ffC6,Brandy,Heath,Female,pcarey@example.com,347.257.0051,2005-06-15,"Teacher, adult education"
37,38,C0610bd81CF4a26,Terrence,Tucker,Male,rmcdaniel@example.com,+1-248-750-1154,2019-05-21,Retail banker
38,39,Cae1Bf83A0EE8Fb,Mary,Ferguson,Female,vrobinson@example.com,(828)736-9849x305,1941-12-13,Restaurant manager
39,40,9f1fFDfC68A4ab0,Rachel,Rice,Female,chrisware@example.com,711-766-7143,1952-02-28,Building surveyor
40,41,4d7Bcb4f3beA01c,Allison,Clay,Female,orrangie@example.net,571-027-5392x52373,1949-10-05,"Chemist, analytical"
41,42,433902DadEEEC75,Tom,Rivas,Male,guyayers@example.org,+1-382-207-6922,2019-05-16,Medical technical officer

In [5]:
# 1.2 converteix la columna Date of birth al format Dia/Mes/Any (dd/mm/aaaa).
# converteix al tipus datetime
df['Date of birth'] = pd.to_datetime(df['Date of birth'],
                                     format="%Y-%m-%d").dt.strftime('%d/%m/%Y')
# mostra les últimes files per veure si s'ha aplicat correctament el format
# de la data
df.tail(5)

,Index,User Id,First Name,Last Name,Sex,Email,Phone,Date of birth,Job Title
9995,9996,D66F0e4EdFc35e6,Tina,Sherman,Male,bartlettcolleen@example.org,(455)476-4044x5755,28/07/1974,"Scientist, physiological"
9996,9997,c753d8B9F5b6054,Earl,Jennings,Female,andreabenton@example.com,009.056.6505,20/08/1932,Warehouse manager
9997,9998,Fb2c7daAdD82dAE,Ellen,Dominguez,Female,michaelayoder@example.net,409-428-4297x469,06/06/1966,Lawyer
9998,9999,34D88Ffc743Ca5B,Emma,Clark,Male,pstrickland@example.com,849-868-8653,09/05/1907,Accounting technician
9999,10000,82D540ce0BE556f,Katrina,Schwartz,Female,andres56@example.org,001-874-330-5546x16770,14/08/1935,Drilling engineer

In [6]:
# 1.3 mostra quantes professions úniques hi ha.
df['Job Title'].nunique()

640

In [7]:
# 1.4 visualitza el títol de feina (Job title) més comuna.
df['Job Title'].value_counts().idxmax()

'Film/video editor'

In [8]:
# 1.5 mostra quantes persones tenen el nom Paul.
df['First Name'].value_counts().get('Paul', 0)

np.int64(15)

In [9]:
# 1.6 Mostra el nombre de persones nascudes al gener.
pd.to_datetime(df["Date of birth"], format="%d/%m/%Y").dt.strftime(
    "%B"
).value_counts().get("January", 0)

np.int64(815)

## Exercici 2

Utilitzant el dataframe obtingut en l'Exercici 1

1. Llistar el nom i cognom de les persones que els seus Job Titles que continguin la paraula "engineer".
2. Llistar tots el nom i cognom de persones el nom de les quals comenci per la lletra B, U o G.

<span style="font-family: Courier New; background-color: #82b74b; color: #000000; padding: 3px;">SM</span> **(1 punt)**

<div style="background-color: #fcf2f2; border-color: #dfb5b4; border-left: 5px solid #dfb5b4; padding: 0.5em;">
<strong>Solució</strong>
</div>

In [10]:
# 2.1
df.loc[df['Job Title'].str.contains("[Ee]ngineer"),
       ['First Name', 'Last Name']]

     First Name Last Name
1        Alisha    Hebert
10         Jean   Aguilar
19          Jon    Wagner
30      Kirsten    Bailey
64      Abigail     Parks
...         ...       ...
9915      Chloe      Shea
9965      Harry      Mays
9970      Linda    Baxter
9993      Eddie  Clements
9999    Katrina  Schwartz

[984 rows x 2 columns]

In [11]:
# 2.2
df.loc[df['First Name'].str.contains('^[BUG].*') |
       df['Last Name'].str.contains('^[BUG].*'), ['First Name', 'Last Name']]

     First Name  Last Name
2     Gwendolyn   Sheppard
4         Bobby    Pittman
7      Nicholas     Branch
12      Bradley  Velazquez
15      Bradley     Bright
...         ...        ...
9979     Bailey       Hall
9983     Joseph     Gordon
9986      Shane      Bryan
9989       Bill       Lang
9991   Benjamin     Vaughn

[2294 rows x 2 columns]

## Exercici 3
Utilitzant el dataframe obtingut en l'Exercici 1

1. Crear una classe `Person` que en el constructor rebi `first_name`, `last_name`, `date_of_birth` i `job_title`. Aquests paràmetres seran atributs de la classe `Person`.
2. Afegir un mètode que retorna l'any de naixement de la persona en format enter.
3. Afegir un mètode `print_info` (no rep cap paràmetre) que imprimeixi la informació de la persona en el següent format:  
   `"NOM COGNOM va néixer l'any ANY i treballa com a PROFESSIÓ"`
4. Filtrar el dataset per obtenir totes les persones que tinguin la professió de`Broadcast engineer`. Per cada persona `Broadcast engineer`, crear un objecte Person que contingui tota la informació, i afegir aquest objecte en una llista.
5. Recórrer la llista creada d'objectes `Person` i cridar per cadascun al mètode `print_info`.

<span style="font-family: Courier New; background-color: #82b74b; color: #000000; padding: 3px;">SM</span> **(2 punts)**

<div style="background-color: #fcf2f2; border-color: #dfb5b4; border-left: 5px solid #dfb5b4; padding: 0.5em;">
<strong>Solució</strong>
</div>

In [12]:
from datetime import datetime


# 2.1
class Person:
    def __init__(self,
                 first_name: str,
                 last_name: str,
                 date_of_birth: str,
                 job_title: str):
        self.first_name = first_name
        self.last_name = last_name
        self.date_of_birth = date_of_birth
        self.job_title = job_title

    # 2.2
    def get_year_of_birth(self) -> int:
        """Aquesta funció calcula l'any de naixement a partir del camp
        `date_of_birth`.

        Returns:
            int: L'any de naixement de la persona
        """
        return datetime.strptime(self.date_of_birth, '%d/%m/%Y').year

    # 2.3
    def print_info(self) -> None:
        """Aquesta funció imprimeix la informació de la persona.
        """
        print("{0} {1} va néixer l'any {2} i treballa com a {3}"
              .format(self.first_name, self.last_name,
                      self.get_year_of_birth(), self.job_title))


# 2.1 test
p = Person("Peter", "Parker", "01/01/1970", "Photographer")
# 2.2 test
print("Year of birth:", p.get_year_of_birth())
# 2.3 test
p.print_info()

Year of birth: 1970
Peter Parker va néixer l'any 1970 i treballa com a Photographer

In [13]:
# 2.4
dfp = df.loc[
    df["Job Title"] == "Broadcast engineer",
    ["First Name", "Last Name", "Date of birth", "Job Title"],
].rename(
    columns={
        "First Name": "first_name",
        "Last Name": "last_name",
        "Date of birth": "date_of_birth",
        "Job Title": "job_title",
    }
)
list_of_people = [(Person(row.first_name,
                          row.last_name,
                          row.date_of_birth,
                          row.job_title)) for index, row in dfp.iterrows()]

In [14]:
# 2.5
for p in list_of_people:
    p.print_info()

Alisha Hebert va néixer l'any 1969 i treballa com a Broadcast engineer
Tonya Logan va néixer l'any 1950 i treballa com a Broadcast engineer
Angela Rivas va néixer l'any 2008 i treballa com a Broadcast engineer
Tim Grant va néixer l'any 1958 i treballa com a Broadcast engineer
Karen Roth va néixer l'any 2001 i treballa com a Broadcast engineer
Jeremy Anthony va néixer l'any 2019 i treballa com a Broadcast engineer
Priscilla Murphy va néixer l'any 1982 i treballa com a Broadcast engineer
Darren Estrada va néixer l'any 2020 i treballa com a Broadcast engineer
Melinda Kemp va néixer l'any 1907 i treballa com a Broadcast engineer
Dylan Livingston va néixer l'any 1934 i treballa com a Broadcast engineer
Sarah Church va néixer l'any 1942 i treballa com a Broadcast engineer
Parker Tucker va néixer l'any 1960 i treballa com a Broadcast engineer
Briana Mcmillan va néixer l'any 1955 i treballa com a Broadcast engineer
Wanda Mccullough va néixer l'any 2001 i treballa com a Broadcast engineer
Helen Key va néixer l'any 2005 i treballa com a Broadcast engineer
Mark Estrada va néixer l'any 1976 i treballa com a Broadcast engineer
Summer Huber va néixer l'any 1951 i treballa com a Broadcast engineer
Erika Bartlett va néixer l'any 1996 i treballa com a Broadcast engineer
Jeremy Bautista va néixer l'any 1917 i treballa com a Broadcast engineer
Brady Briggs va néixer l'any 1996 i treballa com a Broadcast engineer
Krystal Singleton va néixer l'any 2004 i treballa com a Broadcast engineer
Dale Shannon va néixer l'any 2002 i treballa com a Broadcast engineer
Allen Scott va néixer l'any 1967 i treballa com a Broadcast engineer
Jenny Andrade va néixer l'any 2000 i treballa com a Broadcast engineer
Jade Cisneros va néixer l'any 1926 i treballa com a Broadcast engineer
Elaine Malone va néixer l'any 1954 i treballa com a Broadcast engineer
Stacy Cameron va néixer l'any 1916 i treballa com a Broadcast engineer

## Exercici 4
Utilitzant el dataframe obtingut en l'Exercici 1

1. Crear una funció que rebi com a paràmetres el dataframe i la professió.
2. La professió, per defecte, ha de tenir el valor de 'Therapeutic radiographer'.
3. La funció ha de retornar un diccionari amb el nombre de professionals per sexe (`Male` o `Female`).

<span style="font-family: Courier New; background-color: #82b74b; color: #000000; padding: 3px;">SM</span> **(1.5 punts)**

<div style="background-color: #fcf2f2; border-color: #dfb5b4; border-left: 5px solid #dfb5b4; padding: 0.5em;">
<strong>Solució</strong>
</div>

In [15]:
def get_sex_stats_for_profession(
    df: pd.DataFrame, profession: str = "Therapeutic radiographer"
) -> dict:
    """Aquesta funció obté el recompte de gènere per a una professió
    determinada.

    Args:
        df (pd.DataFrame): El dataframe de les dades.
        profession (str, optional): La professió o "Therapeutic radiographer".

    Returns:
        dict: Un diccionari amb el recompte de gènere per a la professió
        especificada.
    """
    return df.loc[df['Job Title'] == profession,
                  'Sex'].value_counts().to_dict()


get_sex_stats_for_profession(df)

{'Female': 16, 'Male': 9}

## Exercici 5

1. Donada una llista de correus electrònics, heu de recórrer-la i, aplicant expressions regulars, determinar si el correu és vàlid o no vàlid.
    * Els correus han de tenir el format `nom@domini`, on el domini ha de contenir un punt i més d'1 caràcter després del punt.
2. Donat un text, heu d'extreure, a través d'una única expressió regular, una llista amb totes les dates que tenen el format correcte.
    * Què considerem com a correcte:
        * **Dia:** 1 o 2 dígits (permetent zeros a l'esquerra).
        * **Separador:** pot ser `'/'`, `'-'` o `'.'`.
        * **Mes:** 1 o 2 dígits (permetent zeros a l'esquerra).
        * **Separador:** pot ser `'/'`, `'-'` o `'.'`.
        * **Any:** 2 o 4 dígits.

<span style="font-family: Courier New; background-color: #82b74b; color: #000000; padding: 3px;">SM</span> **(2 punts)**

In [16]:
emails = [
    "usuari@example.com",
    "altre.usuari@domini.co",
    "correu.incorrecte@",
    "sensearroba.com",
    "nom@domini",
    "usuari@domini.com",
    "usuari@domini.c",
    "user.name@sub.domini.org"
]

text = """
Avui és 12/05/2020 i demà serà 13-05-2020.
El 03.07.2019 es va celebrar un esdeveniment important.
De vegades, les dates venen en formats reduïts com 7/8/20 o 07-08-20.
Però no totes les combinacions són dates: 99/99/9999 no és vàlida.
També poden aparèixer nombres com 2020/05/12 que no segueixen el format esperat.
"""

17:80: E501 line too long (80 > 79 characters)

<div style="background-color: #fcf2f2; border-color: #dfb5b4; border-left: 5px solid #dfb5b4; padding: 0.5em;">
<strong>Solució</strong>
</div>

In [17]:
# 5.1
import re

for email in emails:
    if re.match(r'^[a-z]+(\.[a-z]+)*@[a-z]+(\.[a-z]+)+$', email):
        print(f"'{email}' is valid.")
    else:
        print(f"'{email}' is not valid.")

'usuari@example.com' is valid.
'altre.usuari@domini.co' is valid.
'correu.incorrecte@' is not valid.
'sensearroba.com' is not valid.
'nom@domini' is not valid.
'usuari@domini.com' is valid.
'usuari@domini.c' is valid.
'user.name@sub.domini.org' is valid.

In [18]:
# 5.2
# dia: (0?[1-9]|[12]\d|3[01])
# mes: (0?[1-9]|1[0-2])
# any: (\d{2}|\d{4})
# separador: [-/\.]
r = re.compile(
    r'\b((0?[1-9]|[12]\d|3[01])([-/\.])(0?[1-9]|1[0-2])\3(\d{2}|\d{4}))\b')

for d in r.findall(text):
    print(d[0])

12/05/2020
13-05-2020
03.07.2019
7/8/20
07-08-20

## Exercici 6

Utilitzant el dataframe obtingut en l'Exercici 1

1. Extreu els dominis dels emails utilitzant `str.extract()`.
2. Crea el diccionari `domain_counts` (utilitzant *dict comprehension*) que contingui el nom de cada domini i el número de vegades que surt aquest domini.
3. Ordena el diccionari amb `sorted()`, però en lloc de convertir-lo en un diccionari normal, el passem a `OrderedDict` per conservar l'ordre.
4. Imprimeix els resultats iterant sobre `OrderedDict`.

<span style="font-family: Courier New; background-color: #82b74b; color: #000000; padding: 3px;">SM</span> **(1.5 punts)**

<div style="background-color: #fcf2f2; border-color: #dfb5b4; border-left: 5px solid #dfb5b4; padding: 0.5em;">
<strong>Solució</strong>
</div>

In [19]:
# 6.1
df['Domain Name'] = df['Email'].str.extract(r'.*@(.*)')

In [20]:
# 6.2
aux = df.groupby(['Domain Name']).agg({'Index': 'count'})
domain_counts = {k: v for k, v in zip(aux.index, aux['Index'])}

In [21]:
# 6.3
from collections import OrderedDict

# ordena pel comptador descendent i pel nom ascendent
domain_counts = OrderedDict(sorted(domain_counts.items(),
                                   key=lambda x: (-x[1], x[0])))

In [22]:
# 6.4
for key, value in domain_counts.items():
    print(f"{key}: {value}")

example.com: 3433
example.org: 3291
example.net: 3276